<link href="/css/NoUserCSS.css" rel="stylesheet">
{{#if msg}}
    <div class="alert alert-success">{{msg}}</div>
{{/if}}
<div class="BG_NoUser"></div>
<div class="greetingsStranger">
    <div class="row">
        <div class="col-12 text-center">
            <img src="/00_Medien/Logo_Kuh.png">
        </div>
    </div>
    <div class="mainGreeting">
        <div class="col-12 text-center">
            <p class="greetHeader">Willkommen bei MuWi.</p>
            <p>MuWi ist eine Austauschplattform für Dozierende und Studierende der Wirtschaftsinformatik um Lehrmaterialien miteinander zu teilen.</p>
        </div>
    </div>
</div>