<h3>Inhalt hinzufügen</h3>
<h5>Buch: {{bookTitle}}</h5>
<h5>Kapitel: {{chapterTitle}}</h5>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form class="fileupload" id="uploadContent" action="/media/uploadFile/{{chapterID}}" method="post" enctype="multipart/form-data">
            <div class="md-form">
                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>Datei auswählen</span>
                        <input id="fileselect" type="file" name="upfile" value="">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Bitte wählen sie eine Datei aus.">
                    </div>
                </div>
            </div>
            <br>
            <div class="md-form">
                <textarea name="comment" type="text" id="text2" class="md-textarea md-textarea-auto form-control" rows="2"></textarea>
                <label for="text2">Kommentar:</label>
            </div>

            <!--Tags Anfang-->
            <div class="chips chips-placeholder"></div>
            <input style="visibility:hidden;" type="text" name="tagsJSON" id="tagsContainer"></input>
            <div class="text-center mt-4">
                <button class="btn btn-primary" onclick="createContent()">Upload</button>
            </div>
        </form>
    </div>
</div>
<script type=""text/javascript>
  /*function sendBack(){
    window.history.back();
  }*/

  $(document).ready(function(){
    $('.chips-placeholder').material_chip({placeholder:'Neues Tag', secondaryPlaceholder:'Tag eingeben'});
  });

  function createContent(){
    let tags = [];

    for(let e of $('.chips-placeholder').children()){
      tags.push($(e).text());
    }

    $('#tagsContainer').val(JSON.stringify(tags));

    document.getElementById('uploadContent').submit();
  }

</script>
<style type="text/css">
  .input-group.dropdown{
    width:200px;
  }
</style>
